<div class="w3-row" >
    <div class="w3-col s4">
        <article class="li">
            <a href="{{ .Permalink }}" class="clearfix">
                <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
            </a>
        </article>
    </div>
    <div class="w3-col s8 w3-light-gray">
        <div>{{ partial "data.html" . }}</div>
        <div>{{ partial "order.html" . }}</div>
    </div>
</div>
<div>&nbsp;</div>

